footer {
    position: relative;
    bottom:0;
    width: 100%;
    margin-top: 300px;
}

.f-logo {
    display: flex;
    justify-content: center;
}

.f-logo img {
    padding-left: 40px;
    padding-right: 40px;
    width: 50px;
    height: 50px;
}

.f-copy {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .footer {
      margin-top: 50px; /* Adjust margin for smaller spacing */
    }
    .f-logo {
      flex-direction: column;
      align-items: center;
    }
    .f-logo img {
      padding: 10px;
      width: 30px;
      height: 30px;
    }
    .f-copy h5 {
      font-size: small; /* Adjust font size for smaller screens */
    }
  }