* {
    margin:0;
    padding:0;
}

body {
    background-image: url(./components/image/Untitled\ design\ \(7\).png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

